{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    WeatherTop JS
  </h3>
  <p>
    The WeatherTop application implemented using JavaScript, Node.js and Handlebars templating
  </p>
</section>