{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to WeatherTop
  </h1>
  <p>
    A web application to help you record and monitor the conditions at all weather stations throughout Ireland
  </p>
</section>
<div class="ui segment">
  <img class="ui centered large image" src="images/outline-map-of-ireland.svg">
</div>