{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{station.location}}
  </h2>
  {{> stationcards}}
  {{> listreadings}}
  {{> addreading}}
</section>