{{> menu}}

<section class="ui segment">
  {{#if station.readings}}
  {{> stationcards}}
  {{> chart}}
  {{> listreadings}}

{{else}}
  <h2 class="ui header">
    {{location}}
  </h2>
  <h3>No readings entered yet</h3>
{{/if}}
  {{> addreading}}
  <form action="/station/{{station.id}}/addautoreading" method="POST">
    <button class="ui red submit button">AutoGenerate Reading</button>
  </form>


</section>