{{> menu}}

<section class="ui segment">
  {{#if station.readings}}
  {{> stationcards}}
  {{> listreadings}}

{{else}}
  <h2 class="ui header">
    {{location}}
  </h2>
  <h3>No readings entered yet</h3>
{{/if}}
  {{> addreading}}
</section>